html {
  overflow-y: scroll;
}

#root
{
  position: relative; //View will be positioned absolute during animations

  > div[ng-view], > div[ui-view]
  {
    > .container
    {
      max-width: none;
      width: 100%;
      margin-top: 40px;
    }
  }
}

.no-left-margin
{
  margin-left: 0 !important;
}

[ng-click], [ui-sref]
{
  cursor: pointer;
}

#root > div[ng-view] > .container, #root > div[ui-view] > .container {
  margin-top: 60px;
}

.page-header {
  margin: 20px 0 20px;
}

a {
  color: #00A2B2;
}

a:hover, a:focus {
  color: #005d66;
}