<div class="payload-editor-component">
    <div ui-codemirror="{ onLoad : codemirrorLoaded }"
         ng-model="content"
         class="editor"></div>

    <div class="tools">
        <button class="btn btn-xs btn-default" ng-click="undo()" tooltip="Undo"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-xs btn-default" ng-click="redo()" tooltip="Redo"><i class="glyphicon glyphicon-chevron-right"></i></button>
        |
        <select class="btn btn-xs btn-default" ng-model="mode">
            <option value="plain">Plain text</option>
            <option value="json">JSON</option>
            <option value="javascript">JavaScript</option>
            <option value="html">HTML</option>
            <option value="xml">XML</option>
        </select>
        |
        <button class="btn btn-xs btn-default" ng-click="toggleLineWrap()" tooltip="Wrap text" ng-class="{active:lineWrap}"><i class="glyphicon glyphicon-align-justify"></i></button>
        |
        <button class="btn btn-xs btn-default" ng-click="editorFullScreen()" tooltip="Full screen"><i class="glyphicon glyphicon-fullscreen"></i></button>
    </div>
</div>