<div class="url-params-editor-component">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody ng-repeat="param in params">
        <tr>
            <td><input type="text" class="form-control" ng-model="param.name" ng-blur="save()"/></td>
            <td><input type="text" class="form-control" ng-model="param.value" ng-blur="save()"/></td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default btn-xs" ng-click="addParam()">
        <span class="glyphicon glyphicon-plus"></span> Add Parameter
    </button>
</div>