<form class="mock-form-component form-horizontal" role="form">
    <script type="text/ng-template" id="responseHTTPCodeSelect">
        <a>{{match.model.value}} - <em>{{match.model.text}}</em></a>
    </script>

    <tabset>
        <tab heading="Request">
            <div class="form-group">
                <label for="mock_{{mock.id}}_method" class="col-sm-2 control-label">Method</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mock_{{mock.id}}_method" ng-model="mock.requestMethod"
                           typeahead="method for method in methodsHTTP | filter:$viewValue | limitTo:8"
                           ng-blur="save()">
                </div>
            </div>
            <div class="form-group">
                <label for="mock_{{mock.id}}_url" class="col-sm-2 control-label">Full URL</label>

                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="mock_{{mock.id}}_url" ng-model="mock.requestURL"
                               ng-blur="save()"/>

                        <div class="btn input-group-addon" ng-click="paramsEditorHidden = !paramsEditorHidden">query editor</div>
                    </div>
                    <p class="help-block" ng-non-bindable>Use <code>((*))</code> as a wildcard (e.g. "<em>http://test.com/api/users?category=((*))&max=10</em>").
                    </p>

                    <url-params-editor-component
                            url="mock.requestURL"
                            on-change="save()"
                            collapse="paramsEditorHidden"></url-params-editor-component>
                </div>
            </div>
            <div class="form-group" ng-show="mock.matchRequestPayload">
                <label class="col-sm-2 control-label">Payload</label>

                <div class="col-sm-10">
                    <payload-editor-component
                            content="mock.requestText"
                            default-mode="mock.getRequestContentType()"
                            on-blur="save()"></payload-editor-component>
                </div>
            </div>
        </tab>
        <tab heading="Response">
            <div class="form-group">
                <label for="mock_{{mock.id}}_code" class="col-sm-2 control-label">HTTP Code</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="mock_{{mock.id}}_code"
                           ng-model="mock.responseHTTPCode" ng-blur="save()"
                           typeahead="responseCode.value for responseCode in responseCodesHTTP | filter:{value:$viewValue}"
                           typeahead-template-url="responseHTTPCodeSelect">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Content</label>

                <div class="col-sm-10">
                    <payload-editor-component
                            content="mock.responseText"
                            default-mode="mock.getResponseContentType()"
                            on-blur="save()"></payload-editor-component>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Headers</label>

                <div class="col-sm-10">
                    <headers-editor-component headers="mock.responseHeaders"
                                              on-change="save()"></headers-editor-component>
                </div>
            </div>
        </tab>
        <tab heading="Advanced">
            <div class="form-group">
                <label for="mock_{{mock.id}}_priority" class="col-sm-2 control-label">Priority</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="mock_{{mock.id}}_priority" ng-model="mock.priority"
                           ng-blur="save()">

                    <p class="help-block" ng-non-bindable>When multiple mocks match single request, one with the highest
                        priority will be used.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="mock_{{mock.id}}_match_request_payload" class="col-sm-2 control-label">Match request
                    payload</label>

                <div class="col-sm-10">
                    <input type="checkbox" id="mock_{{mock.id}}_match_request_payload"
                           ng-model="mock.matchRequestPayload" ng-blur="save()">

                    <p class="help-block" ng-non-bindable>By default only URL and HTTP method are compared when matching
                        mocks. Use this setting to enable request payload matching and editing.</p>
                </div>
            </div>
        </tab>
    </tabset>
</form>