.domain-state  {
  a.accordion-toggle {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 20px;
  }

  .urlpath {
    color: gray;
  }
}
