<div class="index-state container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Mocks</h2>
            <p class="lead">All mocks grouped by domain.</p>

            <p>
                <button type="button" class="btn btn-default" ui-sref="mocks_create()">
                    <span class="glyphicon glyphicon-plus-sign"></span> Create a new one
                </button>
                <button type="button" class="btn btn-default" ui-sref="mocks_import()">
                    <span class="glyphicon glyphicon-import"></span> Import
                </button>
            </p>

            <table class="table">
                <thead>
                    <tr><th>Domain</th><th># mocks</th><th>Actions</th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="domain in domains | orderBy:'name'">
                        <td ui-sref="domain({name:domain.name})">{{domain.name}}</td>
                        <td ui-sref="domain({name:domain.name})">{{domain.count}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs" ng-click="exportDomain(domain)">
                                <span class="glyphicon glyphicon-export"></span> Export
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="removeDomain(domain)">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
